<div class="build-info">
    <div class="wrapper">
        <div class="build-info__container">
            <div class="build-info__top">
                <div class="m-title-1">О застройщике</div>
                <a href="#" class="m-link">Читать подробнее</a>
            </div>
            <div class="build-info__content">
                <div class="build-info__left">
                    <p class="m-text-18-l">
                        В работе над новым проектом привлечены проверенные застройщики, которые заслужили уважение многолетней работой в этой области. Опыт их работы во Владивостоке составляет полтора десятка лет. 
                    </p>
                    <p class="m-text-18-l">
                        Приступив к <a href="#">строительной деятельности в 2003 году,</a> было введено в эксплуатацию больше 70 тысяч квадратных метров жилья.
                    </p>
                    <p class="m-text-18-l">
                        Масштабные проекты реализуются, к примеру, на улице Нейбута. По итогам работы застройщик имеет награды <a href="#">«Надежный застройщик»,</a> <a href="#">«Бренд года»</a>, <a href="#">«Комфортная среда»,</a> которые говорят не только об опыте и количестве выстроенного жилья, но и признании качества работы специалистами.
                    </p>
                </div>
                <div class="build-info__right">

                    <div class="build-info__img back-block">
                        <img src="%=static=%/img/content/build-1.png" alt="">
                    </div>

                    <div class="build-info__img back-block">
                        <img src="%=static=%/img/content/build-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>