<div class="action sidebar-item">
    <div class="action-top action-big">
        3%
    </div>
    <div class="m-title-4">
            Скидка при оплате квартиры с помощью ипотеки!
    </div>
    <div class="m-text-16-l">В работе над новым проектом привлечены проверенные застройщики, которые заслужили уважение многолетней работой в этой области</div>
</div>
<div class="action sidebar-item">
    <div class="action-top action-small">
        15 000 руб. 
    </div>
    <div class="m-title-4">
            Скидка при оплате квартиры с помощью ипотеки!
    </div>
    <div class="m-text-16-l">В работе над новым проектом привлечены проверенные застройщики, которые заслужили уважение многолетней работой в этой области</div>

    <div class="m-button mt30">Подробнее</div>
</div>