<div class="sidebar-item">
    <div class="sidebar-news">
        <a href="single.html" class="sidebar-news__item">
            <div class="m-title-4">Уважение многолетней работой в этой области</div>
            <div class="date">12. 08. 2019</div>
        </a>
        <a href="single.html" class="sidebar-news__item">
            <div class="m-title-4">Уважение многолетней работой в этой области</div>
            <div class="date">12. 08. 2019</div>
        </a>
        <a href="single.html" class="sidebar-news__item">
            <div class="m-title-4">Уважение многолетней работой в этой области</div>
            <div class="date">12. 08. 2019</div>
        </a>
        <a href="single.html" class="sidebar-news__item">
            <div class="m-title-4">Уважение многолетней работой в этой области</div>
            <div class="date">12. 08. 2019</div>
        </a>
        <a href="single.html" class="sidebar-news__item">
            <div class="m-title-4">Уважение многолетней работой в этой области</div>
            <div class="date">12. 08. 2019</div>
        </a>
    </div>
</div>