<div class="progress">
    <div class="wrapper">
        <div class="progress__container">
            <div class="progress__left">
                <div class="m-title-1">История компании</div>
                
                <div class="progress__items">

                    <div class="progress__item progress-item progress-year">
                        <div class="progress__number">01</div>
                        <div class="progress__cont">
                            <div class="progress__year">2016 - Год основания компании</div>
                            <div class="progress__text m-text-18-b">Благоустройство у центрального входа, детская и спортивная 
                                площадки, посадка деревьев, фасад</div>
                        </div>
                    </div>
                    <div class="progress__item progress-item progress-year">
                        <div class="progress__number">02</div>
                        <div class="progress__cont">
                            <div class="progress__year">2016 - Год основания компании</div>
                            <div class="progress__text m-text-18-b">Благоустройство у центрального входа, детская и спортивная 
                                площадки, посадка деревьев, фасад</div>
                        </div>
                    </div>
                    <div class="progress__item progress-item progress-year">
                        <div class="progress__number">03</div>
                        <div class="progress__cont">
                            <div class="progress__year">2016 - Год основания компании</div>
                            <div class="progress__text m-text-18-b">Благоустройство у центрального входа, детская и спортивная 
                                площадки, посадка деревьев, фасад</div>
                        </div>
                    </div>
                    <div class="progress__item progress-item progress-year">
                        <div class="progress__number">04</div>
                        <div class="progress__cont">
                            <div class="progress__year">2016 - Год основания компании</div>
                            <div class="progress__text m-text-18-b">Благоустройство у центрального входа, детская и спортивная 
                                площадки, посадка деревьев, фасад</div>
                        </div>
                    </div>
                    <div class="progress__item progress-item progress-year">
                        <div class="progress__number">05</div>
                        <div class="progress__cont">
                            <div class="progress__year">2016 - Год основания компании</div>
                            <div class="progress__text m-text-18-b">Благоустройство у центрального входа, детская и спортивная 
                                площадки, посадка деревьев, фасад</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="progress__right">
                <div class="swiper-container back-slider">
                    <div class="swiper-wrapper lightgallery">
                        
                        <a href="%=static=%img/content/progress.jpg" class="progress__slide swiper-slide">
                            <div class="back-block">
                                <div class="back-block__img m-bg-cont">
                                    <img src="%=static=%img/content/video-1.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a href="%=static=%img/content/progress.jpg" class="progress__slide swiper-slide">
                            <div class="back-block">
                                <div class="back-block__img m-bg-cont">
                                    <img src="%=static=%img/content/progress.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a href="%=static=%img/content/progress.jpg" class="progress__slide swiper-slide">
                            <div class="back-block">
                                <div class="back-block__img m-bg-cont">
                                    <img src="%=static=%img/content/progress.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a href="%=static=%img/content/progress.jpg" class="progress__slide swiper-slide">
                            <div class="back-block">
                                <div class="back-block__img m-bg-cont">
                                    <img src="%=static=%img/content/progress.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a href="%=static=%img/content/progress.jpg" class="progress__slide swiper-slide">
                            <div class="back-block">
                                <div class="back-block__img m-bg-cont">
                                    <img src="%=static=%img/content/progress.jpg" alt="">
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>