<div class="builders section">
    <div class="wrapper">
        <div class="builders__container">
            <div class="builders__top m-title-1">
                5 простых и быстрых шагов оформления ипотеки
            </div>
            <div class="builders__items">

                <div class="builders__item">
                    <div class="builders__number gradient-text">
                        01
                    </div>
                    <div class="builders__text">
                        Максимально ориентированы <br>
                        на потребности своих клиентов
                    </div>
                </div>
                <div class="builders__item">
                    <div class="builders__number gradient-text">
                        02
                    </div>
                    <div class="builders__text">
                            Обеспечат безоговорочное
                            сочетание цены/качества 
                            строительства
                    </div>
                </div>
                <div class="builders__item">
                    <div class="builders__number gradient-text">
                        03
                    </div>
                    <div class="builders__text">
                            Наши консультанты на 
                            связи 24/7
                    </div>
                </div>
                <div class="builders__item">
                    <div class="builders__number gradient-text">
                        04
                    </div>
                    <div class="builders__text">
                            Всегда открыты для 
                            предложений и претензий
                    </div>
                </div>
                <div class="builders__item">
                    <div class="builders__number gradient-text">
                        05
                    </div>
                    <div class="builders__text">
                            Гарантии обеспечены 
                            Законодательством РФ
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>