
<div class="footer">

    <div class="footer__top">
        <div class="wrapper">
            <div class="footer__logo">
                <img src="%=static=%img/content/logo-footer.png" alt="">
            </div>

            <div class="footer__top-menu">
                <a href="ipo.html">Ипотека</a>
                <a href="actions.html">Акции</a>
                <a href="how-sale.html">Как купить</a>
                <a href="single.html">Благоустройство</a>
                <a href="contacts.html">Контакты</a>
                <a href="partner.html">Партнеры</a>
            </div>
        </div>
    </div>

    <div class="footer__center">
        <div class="wrapper">
            <div class="footer__center-menu">
                <a href="faq.html">Вопросы-ответы</a>
                <a href="news.html">Новости</a>
                <a href="single.html">Благоустройство</a>
                <a href="how-sale.html">Как купить</a>
                <a href="about.html">О Застройщике</a>
                <a href="vybor.html">Выбор квартиры</a>
            </div>
            <a href="single.html" class="footer__center-politic">Политика конфеденциальности</a>

            <div class="footer__social">
                <a href="single.html">{{Icon iconName="vk"}}</a>
                <a href="single.html">{{Icon iconName="fb"}}</a>
                <a href="single.html">{{Icon iconName="inst"}}</a>
            </div>

            <div class="footer__phone">
                
                <div class="header__phone">
                    <a href="tel:+74954563456"> 
                        {{Icon iconName="phone"}}
                        <span>+7 495 456 34 56</span>
                    </a>
                </div>
                <div class="m-button footer-call-order">Заказать звонок</div>

            </div>
        </div>
    </div>

    <div class="footer__markello">
        <div class="wrapper">
            <p>© Дом на бульваре 2019</p>
    
            <a target="_blank" href="http://markello.ru">
                {{Icon iconName="markello"}}
                Создан в <span>Markello</span>
            </a>
        </div>
    </div>

</div>

{{> popup/popup}}
{{> scripts/scripts}}