<div class="advant">
    <div class="wrapper">
        <div class="advant__container">
            
            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-1"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Новый район города “с нуля” </div>
            </div>

            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-2"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Близость к природе</div>
            </div>

            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-3"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Привлекательный яркий
                        внешний вид фасада </div>
            </div>

            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-4"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Использование экологически
                        чистых материалов</div>
            </div>

            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-5"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Просторный паркинг</div>
            </div>

            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-6"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Отделка white box</div>
            </div>
            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-7"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Живописный вид из окна</div>
            </div>
            <div class="advant__item">
                <div class="advant__img">
                    {{Icon iconName="advant-8"}}
                </div>
                <div class="advant__text m-text-18-b mt20">Надежный застройщик</div>
            </div>

        </div>
    </div>
</div>