<div class="overlay visible"></div>

<div class="popup popup-block visible callback-popup">
    <div class="popup__container">
        <div class="popup-content">
            <div class="back-block">
                <div class="popup__close popupClose">
                    {{Icon iconName="close"}}
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis commodi odit, accusantium ad quasi, unde doloribus vitae nam ea, nobis excepturi autem reiciendis velit tempora optio aspernatur? Atque, perferendis distinctio.
            </div>
        </div>
    </div>
</div>
 