.popup{
    position: fixed;    
    width: 100%;
    transition: 0.3s;
    text-align: center;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 1001;
    &__hata {
        display: flex;
        flex-wrap: wrap;
        svg {
            fill: $green !important;   
        }
        &-content {
            display: flex;
            flex-wrap: wrap;
            padding: 0 20px;
        }
        &-popup{
            width: 100%;
            height: auto;
            background-color: #fff;
            border-radius: 3px;

            img {
                max-width: 100%;
                height: auto;
            }
        }
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-direction{
            svg {
                fill: $green;
            }
        }
        &-item {
            margin-right: 20px;
            text-align: left;
            margin-bottom: 30px;
            .m-text-18-m {
                color: $text3;
                // text-transform: lowercase;
            }
        }
        &__hata-text {
            text-align: left;
        }
        &-right {
            display: flex;
            flex-direction: column;
        }
        &-img {
            overflow: hidden;
            &:hover {
                img {
                    opacity: 0.4;
                }
            }
            max-width: 300px;
            width: 250px;
            margin-right: 20px;
            cursor: pointer;
            
            img {
                max-width: 100%;
                transition: 0.3s;
                height: auto;
            }
        }
    }
    .lg-img-content {
        width: 100%;
        display: flex;
        
        img {
            max-width: 100%;
            height: auto;
        }
        height: 100%;
    }
    &__close{
        position: absolute;
        top: -20px;
        right: -50px;
        cursor: pointer;
        transition: 0.3s;
        @media screen and (max-width: 425px) {
            top: -30px;
            right: 0;
        }
        &:hover {
            transform: rotate(90deg);
        }
        &:active {
            opacity: 0.6;
        }
    }
    &.callback-popup {
        .popup-content {
            width: 100%;
            
        }
    }
    .m-button {
        max-width: 225px;
        width: 100%;
    }
    &__container {
        max-width: 1190px;
        width: 100%;
        @media screen and (max-width: 767px) {
            max-width: 400px;
            width: 100%;

        }
        @media screen and (max-width: 768px) {
            max-width: 100%;
            margin: 0 15px;
        }
    }
    &-content {
        border-radius: 4px;
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media screen and (max-width: 767px) {
            margin-top: 40px;
        }
    }
    .back-block {
        position: relative;
        display: flex;
        padding: 50px 135px;  
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1024px) {
            padding: 15px 30px;
        }
    }
    &.visible {
        visibility: visible;
        opacity: 1;
        perspective: 0.3;
        transform: scale(1);
    }
}

.hard-info-popup {
    padding: 0 10px;
}

.video-slider-container {
    .swiper-slide {
        width: 100%;
    }
}

.hard-info-popup {
    .back-block {
        padding: 35px 0;
    }
}
.lg-object.lg-image {
    background-color: #fff;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform-origin: 0 0;
    z-index: 1000;
    &.visible {
        visibility: visible;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}