<div class="sale">
    <div class="wrapper">
        <div class="sale__container block-light">
            <div class="m-title-1 mb20">
                Как купить?
            </div>

            <div class="sale__items">
                <div class="sale__item">
                    <div class="sale__number">
                        01
                    </div>
                    <div class="sale__img">
                        {{Icon iconName="sale-1"}}
                    </div>
                    <div class="sale__text gradient-text">Консультация в офисе 
                        продаж</div>
                    <div class="sale__button">
                        {{Icon iconName="arrow-grad"}}
                    </div>
                </div>
                <div class="sale__item">
                    <div class="sale__number">
                        02
                    </div>
                    <div class="sale__img">
                        {{Icon iconName="sale-2"}}
                    </div>
                    <div class="sale__text gradient-text">Консультация в офисе 
                        продаж</div>
                    <div class="sale__button">
                        {{Icon iconName="arrow-grad"}}
                    </div>
                </div>
                <div class="sale__item">
                    <div class="sale__number">
                        03
                    </div>
                    <div class="sale__img">
                        {{Icon iconName="sale-3"}}
                    </div>
                    <div class="sale__text gradient-text">Консультация в офисе 
                        продаж</div>
                    <div class="sale__button">
                        {{Icon iconName="arrow-grad"}}
                    </div>
                </div>
                <div class="sale__item">
                    <div class="sale__number">
                        04
                    </div>
                    <div class="sale__img">
                        {{Icon iconName="sale-4"}}
                    </div>
                    <div class="sale__text gradient-text">Консультация в офисе 
                        продаж</div>
                    <div class="sale__button">
                        {{Icon iconName="arrow-grad"}}
                    </div>
                </div>
                <div class="sale__item">
                    <div class="sale__number">
                        05
                    </div>
                    <div class="sale__img">
                        {{Icon iconName="sale-5"}}
                    </div>
                    <div class="sale__text gradient-text">Консультация в офисе 
                        продаж</div>
                    <div class="sale__button">
                        {{Icon iconName="arrow-grad"}}
                    </div>
                </div>
                <div class="sale__item">
                    <div class="sale__number">
                        06
                    </div>
                    <div class="sale__img">
                        {{Icon iconName="sale-6"}}
                    </div>
                    <div class="sale__text gradient-text">Консультация в офисе 
                        продаж</div>
                    <div class="sale__button">
                        {{Icon iconName="arrow-grad"}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>