<div class="header">
    <div class="header__container">

        <div class="header__left">
            <a href="index.html" class="header__logo">
                <img src="%=static=%img/content/logo.png" class="logo-1" alt="">
                <img src="%=static=%img/content/logo-2.png" class="logo-2" alt="">
            </a>
            <div class="header__humb">
                {{Icon iconName="menu" className="mr10"}}
                Меню    
                <div class="header__sub">
                    <a href="how-sale.html" class="header__sub-item">Как купить</a>
                    <a href="faq.html" class="header__sub-item">Вопросы-ответы</a>
                    <a href="news.html" class="header__sub-item">Новости</a>
                    <a href="about.html" class="header__sub-item">О Застройщике</a>
                    <a href="single.html" class="header__sub-item">Благоустройство</a>
                    <a href="hod.html" class="header__sub-item">Ход строительства</a>
                    <a href="actions.html">Акции</a>
                    <a href="contacts.html" class="header__sub-item">Контакты</a>
                </div>
            </div>
        </div>

        <div class="header__right">
            <div class="header__menu">
                <a href="ipo.html">Ипотека</a>
                <a href="actions.html">Акции</a>
                <a href="how-sale.html">Как купить</a>
                <a href="single.html">Благоустройство</a>
                <a href="contacts.html">Контакты</a>
            </div>

            <div class="header__phone">
                <a href="tel:+74954563456"> 
                    {{Icon iconName="phone"}}
                    <span>+7 495 456 34 56</span>
                </a>
            </div>
        </div>
        
    </div>
</div>
