<div class="header">
    <div class="header__container">

        <div class="header__left">
            <a href="index.html" class="header__logo">
                <img src="%=static=%img/content/logo.png" alt="">
            </a>
            <div class="header__humb">
                {{Icon iconName="menu" className="mr10"}}
                Меню    
                <div class="header__sub">
                    <a href="#" class="header__sub-item">Как купить</a>
                    <a href="#" class="header__sub-item">Как купить</a>
                    <a href="#" class="header__sub-item">Как купить</a>
                    <a href="#" class="header__sub-item">Как купить</a>
                    <a href="#" class="header__sub-item">Как купить</a>
                    <a href="#" class="header__sub-item">Как купить</a>
                    <a href="#" class="header__sub-item">Как купить</a>
                    <a href="#" class="header__sub-item">Как купить</a>
                </div>
            </div>
        </div>

        <div class="header__right">
            <div class="header__menu">
                <a href="#">Ипотека</a>
                <a href="#">Акции</a>
                <a href="#">Как купить</a>
                <a href="#">Благоустройство</a>
                <a href="#">Контакты</a>
            </div>

            <div class="header__phone">
                <a href="tel:+74954563456"> 
                    {{Icon iconName="phone"}}
                    <span>+7 495 456 34 56</span>
                </a>
            </div>
        </div>
        
    </div>
</div>
