<div class="common wrapper">
    <div class="common__left html">
        <h2>ЖК “Дом на бульваре”</h2>

        <p>
            Во Владивостоке можно купить дом на бульваре, на участке огромной территории с лесными насаждениями. 
        </p>

        <p>
            Вы не только покупаете квадратные метры в квартире ЖК «Дом на бульваре», но и чистый воздух, пение птиц по утрам, лучи заходящего солнца среди ветвей деревьев, а не закат между однотипных многоэтажек.
        </p>
        <p>
            Этот микрорайон находится в черте города. Он специально создан для тех, кто ценит плюсы мегаполиса в сочетании с близостью к природе. 
        </p>
        <p>
            Его создатели попытались создать особый микроклимат и баланс потребностей для будущих жильцов таких домов. Все подробности можно узнать здесь, на официальном сайте ЖК «Дом на бульваре».
        </p>

    </div>
    <div class="common__img">
        <img src="%=static=%img/content/common.jpg" alt="">
    </div>
</div>