<div class="ipo">
        <div class="wrapper">
            <div class="ipo__container">

                <div class="ipo__top">
                    <div class="m-title-1">Ипотека от самых надёжных банков</div>
                    <div class="buttons">
                        <div class="buttons">
                            <div class="buttons__button buttons__prev ipo-prev">
                                {{Icon iconName="arrow-grad"}}
                                {{Icon iconName="arrow-white"}}
                            </div>
                            <div class="buttons__button buttons__next ipo-next">
                                {{Icon iconName="arrow-grad"}}
                                {{Icon iconName="arrow-white"}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ipo__slider">
                    <div class="swiper-container ipo-slider">
                        <div class="swiper-wrapper">
                            
                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide ipo__slide">
                                <div class="ipo__img">
                                    <img src="%=static=%img/content/ipo.jpg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>