<div class="quality section">
    <div class="wrapper leafs-right">
        <div class="quality__container">
            <div class="quality__top mb25">
                <div class="m-title-1"> 
                        Качество подтвержденное временем
                </div>
                <div class="buttons">
                    <div class="buttons__button buttons__prev quality-prev">
                        {{Icon iconName="arrow-grad"}}
                        {{Icon iconName="arrow-white"}}
                    </div>
                    <div class="buttons__button buttons__next quality-next">
                        {{Icon iconName="arrow-grad"}}
                        {{Icon iconName="arrow-white"}}
                    </div>
                </div>
            </div>

            <div class="quality__content">

                <div class="quality__slider">
                    <div class="swiper-container quality-slider">
                        <div class="swiper-wrapper lightgallery">

                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>
                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>
                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>
                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>
                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>
                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>
                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>
                            <a href="%=static=%img/content/qality-1.jpg" class="swiper-slide">
                                <img src="%=static=%img/content/qality-1.jpg" alt="">
                            </a>

                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>