


<div class="video-slider section pb">
    <div class="wrapper">
        <div class="video-slider__container">
            <div class="video-slider__left">
                <div class="swiper-container video-slider-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide m-bg-cont">
                            <img src="%=static=%img/content/1-thumb.jpg" alt="">
                        </div>
                        <div class="swiper-slide m-bg-cont">
                            <img src="%=static=%img/content/1-thumb.jpg" alt="">
                        </div>
                        <div class="swiper-slide m-bg-cont">
                            <img src="%=static=%img/content/1-thumb.jpg" alt="">
                        </div>
                        <div class="swiper-slide m-bg-cont">
                            <img src="%=static=%img/content/1-thumb.jpg" alt="">
                        </div>
                        <div class="swiper-slide m-bg-cont">
                            <img src="%=static=%img/content/1-thumb.jpg" alt="">
                        </div>
                        
                    </div>

                    <div class="buttons mb20">
                            <div class="buttons__button buttons__prev video-prev">
                                {{Icon iconName="arrow-grad"}}
                                {{Icon iconName="arrow-white"}}
                            </div>
                            <div class="buttons__button buttons__next video-next">
                                {{Icon iconName="arrow-grad"}}
                                {{Icon iconName="arrow-white"}}
                                
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="video-slider__right">
                    <div class="video__right">
                        <div class="m-title-1">«Жизнь в новом <br>  
                                “Доме на бульваре”: сказочный проект с доступными ценами»</div>
                        <div class="video__desc">
                            <p>Жизнь в большом городе имеет свои преимущества 
                                и недостатки. Удовольствие от возможности иметь все под рукой подчас нивелируются отсутствием обычной тишины. 
                                    
                            </p><p>
                                    Это основное направление, которое разрабатывают сейчас современные компании при строительстве новых микрорайонов в больших городах.</p>
        
                            <p></p>
                            <p>
                                    Дом в рядом с центром, в окружении леса, где комфорт сочетается с тишиной и чистым воздухом, кажется недостижимой мечтой. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            
        </div>
    </div>
</div>