<div class="pag-news">
    <div class="pag-news__left">
        <div class="back">
            <div class="buttons">
                <div class="buttons__button buttons__prev active">
                    {{Icon iconName="arrow-grad"}}
                    {{Icon iconName="arrow-white"}}
                </div>
            </div>
            <div class="back__text">Предыдущая статья</div>
        </div>
    </div>
    <div class="pag-news__right">
        <div class="back">
            <div class="back__text">Следущая статья</div>
            <div class="buttons">
                <div class="buttons__button buttons__next active">
                    {{Icon iconName="arrow-grad"}}
                    {{Icon iconName="arrow-white"}}
                </div>
            </div>
        </div>
    </div>
</div>