<div class="callback">
    <div class="wrapper">

        <div class="callback__container block-light">
                
            <form action="#" class="callback__form back-block form-callback">
                <div class="m-title-1 mb20">
                    Закажите обратный звонок
                </div>
                <div class="callback__desc">Наши специалисты перезвонят вам в течении 5 минут</div>

                <div class="callback__fields">
                    <input type="text" class="m-field" name="name" placeholder="Ваше имя" autocomplete="off">
                    <input type="text" class="m-field phone-mask" name="phone" placeholder="Ваш телефон" autocomplete="off">
                    <button class="m-button">Отправить</button>
                </div>

                <i class="mb10">Вы можете позвонить нам <a href="tel:84232026631">8 (423) 202 66 31</a></i>
                <i>Оставляя свои данные вы даете согласие на обработку персональных данных</i>
            </form>

        </div>

    </div>
</div>
