<div class="callback ">
    <div class="wrapper">

        <div class="callback__container block-light leafs-right">
                
            <form action="#" class="callback__form back-block form-query ">
                <div class="m-title-1 mb20">
                    Задать вопрос
                </div>
                <div class="callback__desc">Хотите задать вопрос быстро, не отвлекаясь от основной работы? Это можно сделать здесь</div>

                <div class="callback__fields callback__fields-2">
                    <input type="text" class="m-field" name="name" placeholder="Ваше имя" autocomplete="off">
                    <input type="text" class="m-field phone-mask" name="phone" placeholder="Ваш телефон" autocomplete="off">
                    <textarea class="m-field" name="text" required placeholder="Текст сообщения"></textarea>
                    <button class="m-button">Отправить</button>
                </div>

                <i>Оставляя свои данные вы даете согласие на обработку персональных данных</i>
            </form>

        </div>

    </div>
</div>
