<div class="hard section">
    <div class="wrapper">
        <div class="hard__container"> 
            <div class="hard__left">
                <div class="hard__home">
                    <div class="about__temp cont-tab tab1 active">
                        <div class="about__img">
                            <img src="/static/img/content/temp-1.jpg" alt="">
                        </div>
                        <div class="about__desc">
                            <div class="about__temp-title">Квартиры – студии</div>
                            <div class="about__bottom">
                                <div class="about__light">от 32 м<sup>2</sup></div>
                                <div class="about__green">от 5 600 000 руб.</div>
                            </div>
                        </div>

                    </div>
                    <div class="hard__floor">
                        <div class="hard__item  purp"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item orange"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item orange"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item purp"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item purp"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item orange"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item  purp"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item orange"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item purp"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item orange"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item orange"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item orange"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item purp"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item purp"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item blue"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item purp"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item purp"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item  purp"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                    <div class="hard__floor">
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item  purp"></div>
                        <div class="hard__item yellow"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                        <div class="hard__item"></div>
                    </div>
                </div>
            </div>
            <div class="hard__right-container">
                <img class="hard__bg" src="%=static=%img/content/background-3.png" alt="">
                <div class="hard__right">
                    <div class="hard__top">
    
                        <div class="hard__col">
                            <div class="m-text-18-m">Этаж</div>
                            <div class="range-container">
                                <div class="range-output">
                                    <div class="output-left">1</div>
                                    <div class="output-right">1</div>
                                </div>
                                
                                <div id="price321" class="m-range-single" id="m-range1" class="m-range" data-min="1" data-max="26" data-step="1"></div>
                            </div>      
                            <div class="m-text-18-m mb5">Кол-во комнат:</div>                      
                            <div class="hard__radio">
                                <div class="m-check mt10">
                                    <label>
                                        <input type="checkbox" name="check" checked>
                                        <div></div>
                                        <p>Студия</p>
                                    </label>
                                </div>
                                <div class="m-check mt10">
                                    <label>
                                        <input type="checkbox" name="check">
                                        <div></div>
                                        <p>1</p>
                                    </label>
                                </div>
                                <div class="m-check mt10">
                                    <label>
                                        <input type="checkbox" name="check">
                                        <div></div>
                                        <p>2</p>
                                    </label>
                                </div>
                                <div class="m-check mt10">
                                    <label>
                                        <input type="checkbox" name="check">
                                        <div></div>
                                        <p>3</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="hard__col">
                            <div class="m-text-18-m">Площадь (м2)</div>
                            <div class="range-container">
                                <div class="range-output">
                                    <div class="output-left">1</div>
                                    <div class=" output-right ">1</div>
                                </div>
                                
                                <div id="pr321ice" class="m-range-single" data-min="0" data-max="100" data-step="10"></div>

                            </div>   
                            <div class="m-text-18-m mb5">Отделка квартиры:</div>                      
                            <div class="hard__radio">
                                <div class="m-check mt10">
                                    <label>
                                        <input type="checkbox" name="check1" checked>
                                        <div></div>
                                        <p>Есть</p>
                                    </label>
                                </div>
                                <div class="m-check mt10">
                                    <label>
                                        <input type="checkbox" name="check1">
                                        <div></div>
                                        <p>Нет</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hard__col">
                            <div class="m-text-18-m">Стоимость (руб.)</div>
                            <div class="range-container">
                                <div class="range-output">
                                    <div class="output-left">1</div>
                                    <div class=" output-right m-number">20000000000</div>
                                </div>
                                
                                <div id="m-rang42342e3" class="m-range-single" data-min="0" data-max="2000000" data-step="1000"></div>
                            </div>    
                            <div class="hard__submit">
                                <button class="m-button mr30">Применить</button>
                                <a href="" class="m-link">Сбросить</a>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="hard__table">
                        <table>
                            <tr>
                                <th>Номер квартиры</th>
                                <th>Этаж</th>
                                <th>Площадь</th>
                                <th>Кол-во комнат</th>
                                <th>Отделка</th>
                                <th>Стоимость</th>
                                <th>Расположение</th>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon yellow"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                            Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
    
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon purp"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
    
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon blue"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
    
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>№ 3</td>
                                <td>25</td>
                                <td>100 м<sup>2</sup></td>
                                <td>
                                    <div class="hard__table-icon-container">
                                        <div class="hard__table-icon orange"></div> - Студия
                                    </div>
                                </td>
                                <td>Есть</td>
                                <td class="hard__table-price">14 000 000 руб.</td>
                                <td>
                                    <a href="#" class="hard__table-button">
                                        <div class="hard__table-eye">
                                            {{Icon iconName="eye"}}
                                        </div>
                                        <div class="m-link">
                                                Смотреть
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            
    
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>